</div>
</div>
<script>
    function setActive(e) {
      if (e.className.includes("active")) {
        e.classList.remove("active")
      } else {
        e.classList.add("active")
      }
    }
  </script>